/* RESET*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100svh;
    /*padding: 4.5rem;*/
}

html {
    hanging-punctuation: first last;
    color-scheme: dark light;
}

img,picture,svg,video {
    display: block;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}

p{
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

:root {
    font-optical-sizing: auto;
    font-family: "Work Sans";
    color: var(--foreground-dark);
    background-color: var(--background-dark);
    font-size: clamp(1rem, 1.8vw, 1.4rem);
    --background-dark: oklch(27% 0.01 275);
    --foreground-dark: oklch(80% 0.03 275);
    --background-dark-elevated: oklch(30% 0.01 275);
    --highlight-dark: oklch(70% 0.148 275);
    --contrary-dark: oklch(70% 0.148 85);
    accent-color: var(--highlight-dark);
}

::selection {
  color: var(--background-dark-elevated);
  background-color: var(--highlight-dark);
  
}

a {
  color: var(--contrary-dark);
}

h1 {
    color: var(--highlight-dark);
    font-size: 3rem;
    font-family: "Outfit";
    font-weight: 400;

}



.article_content {
  margin: clamp(2px, 10dvw, 100px);

}
#logo {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 900;
}
#logo img {
  border-radius: 40%;
}

#myheader {
  position: sticky;
  top: 0px;
  backdrop-filter: blur(2px);

}
header {
  
  display: flex;
  align-content: center;
  align-items: center;
  justify-content:space-around;
  padding: .2rem;
  border-bottom: 5px thick double var(--highlight-dark);
}

.post {
  background-color: var(--background-dark-elevated);
  border-radius: 5px;
  margin: .2rem;
  padding: 2rem;
}

.hljs {
    /*display:inline-block;  clamp(10px,30vw, 300px)*/
    width: clamp(10rem,50vw, 30rem);
    display:inline-block;
    
    margin: 2vw;
    padding: 1vw;
    background: var(--background-dark-elevated);
    color: var(--foreground-dark);
    border-radius: 12px;
    font-family: "Fira Code";
    font-size: 0.8rem;
    font-weight: 480;
    white-space: pre-wrap;
  }
  .hljs-comment,
  .hljs-quote {
    color: oklch(60% 0.05 275);
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag {
    color: var(--contrary-dark);
  }

  .hljs-name {
    color: var(--highlight-dark);
  }
  .hljs-attribute,
  .hljs-meta {
    color: oklch(70% 0.148 295);
  }
  .hljs-literal,
  .hljs-number,
  .hljs-regexp,
  .hljs-link,
  .hljs-subst,
  .hljs-bullet {
    color: oklch(70% 0.148 295);
  }

  .hljs-string,
  .hljs-symbol{
    color: oklch(70% 0.148 235);
  }
  .hljs-title,
  .hljs-section {
    color: var(--highlight-dark);
    font-weight: 600;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 600;
  }
  
  .language-rust::before {
    content: "rust";
    float: right;
    background-color: var(--background-dark);
    border-radius: 30px;
    padding: 0.4rem;
  }
  /*
 .markdown-alert {
  background-color: var(--background-dark-elevated);
  border-radius: 20px;
  padding: 1rem;
  width: fit-content;
 }
 
 .markdown-alert-title {
  display: grid;
  grid-template-columns: 1rem 1fr;
 }
 
 .markdown-alert-title svg{
  fill: var(--highlight-dark);
 }
 */